<!DOCTYPE html>
<html>
    <head>
        <title>
            Practic-VUE
        </title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link href='build/css/main.css' rel='stylesheet'>
    </head>
    <body>
        <header>
             <h1 class="form__Title">
                 Добро пожаловать на гигантскую форму, написанную на VUE
             </h1>

             <p class="form__desc">
                 Все, что вы увидите - написано на VUE и не применялись другие фреймворки или библиотеки
             </p>
        </header>
        <main>
        
            <form action="file.php" id="app" method="post">
                
                <div class="mail">
                    <p class="form__mail-txt">
                        Ваша почта * : {{mail}} 
                        <!-- TODO: выполнить выведения почты и подсвечивание СИМВОЛА, из-за которого форма не может быть принята -->
                    </p>
                    <input type='email' v-model="mail"  name='mail' class='form__mail' required placeholder='Введите почту'>
                </div>

                <div class="phone">
                    <p class="form__tel-txt">
                        Ваш номер телефона * : {{phone}}
                        <!-- TODO выполнить вывод номера телефона с подставление черточек и начальных цифр типа +38(0...) -->
                    </p>
                    <input v-model="phone" type='tel'  name='phone' class='form__phone' required placeholder='Введите телефон'>
                </div>

                <div class="car">
                    <p class="form__car-txt">
                        Выберите машину, для которой будете покупать пак колёс
                    </p>
                    <select name="car" class="form__car" id="">
                        <option value="" disabled>Машина</option>
                        <option v-for="car in cars">{{car.mechanism}}</option> 
                    </select>
                </div>

                <div class="wheel">
                    <p class="form__wheel-txt">
                            Заказать пак колес для выбранной машины
                    </p>
                    <select v-model="select" name="wheel" class="form__wheel" id="">
                        <option value="" disabled>Колёса</option>
                        <!-- TODO генерирует option через цикл (по 3 пункта) -->
                        <option v-for="wheel in cars[0].wheel">{{wheel.num}}</option>
                    </select>
                </div>
                
                <br>
                <input type="submit" name="sbm" id="sbm">
            </form>
             
        </main>
        <footer>
             
        </footer>
    <script src='src/js/vue.js'></script>
    <script>
    
    new Vue({
        el: '#app',
        data: {
          mail: '',
          phone: '',  

          // создание объекта с доступом по ключу
          cars: [
            {mechanism: 'Егор', wheel:
                                        {num:2,num:4,num:6}
                                    },
            {mechanism: 'Трёхколсеый лисопед', wheel: 
                                        {num:3,num:6,num:9}
                                    },
            {mechanism: 'Легковушка', wheel: 
                                        {num:4,num:8,num:12}
                                    },
            {mechanism: 'Грузовой', wheel: 
                                        {num:6,num:12,num:18}
                                    },
            ],
          select: '',
        }
    });
    
    </script>
    </body>
</html>